{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- If user is logged in -->
{% if user.is_authenticated %}
<h3>Hi {{request.user.username}}, you are already logged in</h3>
<p>Go to <a href="{% url 'app9:app9index' %}">homepage</a></p>
<p><a href="{% url 'logout'%}">Logout</a></p>
{% else %}
<form method="POST" class="form-group">
    {% csrf_token %} {{form|crispy}}
    <br/>
    <button type="submit" class="btn btn-success">Login</button>
    <br/>
    <br/>
    <p><a href="{% url 'app9:app9register' %}">Register</a></p>
</form>
{% endif %} 
{% endblock content %}
